<div class="p-4">
  <div class="flex">
    <input class="input px-2" type="text" placeholder="Ingrese aquí una nueva tarea" [(ngModel)]="newTodo">
<button class="btn success" (click)="saveTodo()">Agregar
</button>
</div>
<ul *ngFor="let todo of todos; let i = index">
  <li>
    <div class="hover:shadow flex p-4 justify-between items-center bg-gray-50 my-2">
    <div class="flex items-center">
        <div>{{i+1}}</div>
        <div class="ml-3 cursor-pointer {{(!todo.completed)?'done':''}}" (click)="completeTodo(i)">{{todo.task}}</div>
    </div>
    <div class="flex">            
        <button class="btn danger" (click)="removeTodo(i)">
            Eliminar
        </button>
    </div>
</div>
</li>
</ul>
<br>
<button class="btn info" (click)="callApi()">Clickea y Descubre lo que pasa!!!</button>
<div class="flex">
  <img class="py-3 " [src]="this.cat">
</div>
</div>
